{% extends 'TestApp/index.html' %}


{% block content %}
<h1> About us!!!!!!!!!!  </h1>
<blockquote>	
				Mindtree [NSE: MINDTREE] is a global technology consulting and services company, helping Global 2000 corporations marry scale with agility to achieve competitive advantage. “Born digital” in 1999, more than 340 enterprise clients rely on our deep domain knowledge to break down silos, make sense of digital complexity and bring new initiatives to market faster. We enable IT to move at the speed of business, leveraging emerging technologies and the efficiencies of Continuous Delivery to spur business innovation. Operating across 17 countries, we’re consistently regarded as one of the best places to work, embodied every day by our winning culture made up of 19,000 entrepreneurial, collaborative and dedicated “Mindtree Minds."
</blockquote>
{% endblock %}